.searchComponent {
  border-left: 2px solid rgb(245, 245, 245);
  background-color: #f7f7f7;
  padding: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}
.searchComponent__searchBox {
  display: flex;
  padding: 20px;
  padding-bottom: 0;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.searchComponent__input {
  padding: 15px 20px;
  font-size: 1.1rem;
  width: 100%;
  border: 1px solid rgb(232, 232, 232);
  box-shadow: 0 0 20px rgb(230, 230, 230);
  border-radius: 6px;
  transition: 0.2s;
  margin: 50px 0;
  position: sticky;
  top: 0;
  z-index: 50;
}
.searchComponent__input::placeholder {
  color: rgb(206, 206, 206);
}
.searchComponent__input:hover {
  border: 1px solid rgb(175, 175, 175);
}
.searchComponent__input:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 20px var(--shadow-color);
}

@media screen and (max-width: 1000px) {
  .searchComponent__searchBox {
    padding: 0;
  }
  .searchComponent {
    overflow-y: visible;
    overflow-x: visible;
  }
}
