.SearchResult__element {
  background-color: white;
  width: 100%;
  padding: 25px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 6px;
  transition: 0.2s border, box-shadow;
  box-shadow: 0 0 20px rgba(199, 199, 199, 0.155);
}
.SearchResult__element:hover {
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 20px var(--shadow-color);
}
.SearchResult__box {
  display: flex;
  gap: 30px;
}
.SearchResult__iteminfo--stickyContainer {
  position: sticky;
  top: 65px;
}

.SearchResult__productStickyContainer {
  position: sticky;
  top: 0;
}

@media screen and (max-width: 1750px) {
  .SearchResult__box {
    flex-direction: column;
  }
  .SearchResult__iteminfo {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .SearchResult__box {
    flex-direction: column;
  }
}
