:root {
  --primary-color: #49be65;
  --secondary-color: #6bca81;
  --shadow-color: #e2f7e7;
  --whiten-color: #f5fef7;
  --darken-color: #3a9b51;
}
::selection {
  background-color: var(--shadow-color);
  color: var(--darken-color);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #70d287;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--darken-color);
}
.onStart {
  animation-name: onStart;
  animation-duration: 0.15s;
  animation-fill-mode: both;
}
@keyframes onStart {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}
.hidden {
  visibility: hidden;
}

.likeButton {
  display: inline-block;
  text-decoration: none;
}

button,
.likeButton {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 14px;
  border: 0;
  font-size: 1.1rem;
  border-radius: 8px;
  box-shadow: 0 0 20px -4px var(--secondary-color);
  transition: 0.2s;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}
button:hover,
.likeButton:hover {
  background-color: var(--darken-color);
}
button:active,
.likeButton:active {
  transform: translateY(2px);
}
.disabledButton {
  background-color: rgb(194, 194, 194);
  box-shadow: 0 0 20px rgb(210, 210, 210);
  opacity: 0.9;
  cursor: not-allowed;
}

.disabledButton:hover {
  background-color: rgb(150, 150, 150);
}

.disabledButton:active {
  transform: translateY(0px);
  opacity: 0.7;
}

.smallButton {
  padding: 6px 10px;
  font-size: 1rem;
}

.dangerButton {
  background-color: rgb(235, 78, 78);
  box-shadow: 0 0 20px -4px rgba(235, 78, 78, 0.621);
}
.dangerButton:hover {
  background-color: rgb(164, 45, 45);
}

.infoButton {
  background-color: white;
  box-shadow: none;
  border: 1px solid rgb(239, 239, 239);
  color: rgb(101, 101, 101);
}
.infoButton:hover {
  color: black;
  background-color: white;
  box-shadow: 0 0 10px rgb(244, 244, 244);
}

@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
  }
  .searchComponent {
    height: 100vh;
  }
  .smallButton {
    padding: 6px 10px;
    font-size: 0.8rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.spinning {
  animation-name: spin;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.label {
  display: inline-block;
  background-color: var(--shadow-color);
  padding: 5px 10px;
  color: var(--primary-color);
  border-radius: 6px;
  margin-right: 10px;
}
