.trackingItem__container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.29);
  box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.296);
  /* animation */
  animation-name: onStart;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}

.trackingItem__box {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  border: 1px solid rgb(237, 237, 237);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.067);
  width: 50vw;
}
